name: tests

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: subosito/flutter-action@v1

      - name: Analyze
        run: flutter analyze

      - name: Format
        run: dart format lib

      - name: Test
        run: flutter test